<div class="widget-wrap">
  <h3 class="widget-title"><%= __('打赏作者') %></h3>
  <div class="widget">
    <img src="/img/money.jpeg">
    <br>
    <br>
    <h3>关注我的微信公众号</h3>
    <img src="/img/bug01.jpg">
  </div>
</div>
