#footer
  background: #6e6b70
  padding: 50px 0
  border-top: 1px solid color-border
  color: #21282E
  a
    color: #21282E
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 1.4em
